<div class="mobile-nav-wrapper" role="navigation">
  <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
  <ul id="MobileNav" class="mobile-nav">
      <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-plus-l"></i></a>
   
  </li>
      <li class="lvl1 parent megamenu"><a href="#">Dealers <i class="anm anm-plus-l"></i></a>
    <ul>
      <li><a href="#" class="site-nav">Dealer Shop List<i class="anm anm-plus-l"></i></a>
        <ul>
          <% if(dealerinfo.length >0 ){ %>
                                               
            <% dealerinfo.forEach(function(row){ %>
             
         <li class="lvl-2"><a href="/product/shopproductlist/<%= row.compname %>/<%= row.compid %>" class="site-nav lvl-2"><span class="btn-warining " style="text-transform: uppercase;"><%= row.compname %></span></a></li>
         <% }) %>

         <%  }else{}%>
        </ul>
      </li>
    
    </ul>
  </li>
      <li class="lvl1 parent megamenu"><a href="product-layout-1.html">Product <i class="anm anm-plus-l"></i></a>
    <ul>
      <% if(gemcat.length >0 ){ %>
                                               
        <% gemcat.forEach(function(row){ %>
            <% var gemcatid = row.catid %>
    <li class=""><a href="#" class="site-nav lvl-1"><%= row.catname %> <i class="anm anm-plus-l"></i></a>
            <ul class="subLinks">
                <% if(gemsubca.length >0 ){ %>
           
                    <% gemsubca.forEach(function(row){ %>
                        <% var subcatid = row.catid %>
                         <%if(gemcatid == subcatid) { %>
                            <li class="lvl-2"><a href="/product/productlistbycategory/<%= row.subcatname %>/<%= row.subcatid %>" class="site-nav lvl-2"><%= row.subcatname %></a></li>
             
                         <%} %>
               <% }) %>

              <%  }else{}%>
            </ul>
          </li>
          <% }) %>

          <%  }else{}%>
    
    </ul>
  </li>
      
      <!-- <li class="lvl1 parent megamenu"><a href="/blog">Blog <i class="anm anm-plus-l"></i></a>
  
  </li> -->
      <li class="lvl1"><a href="#"><b>Buy Now!</b></a>
  </li>
</ul>
</div>