<div class="header-wrap animated d-flex">
    <div class="container-fluid">        
        <div class="row align-items-center">
            <!--Desktop Logo-->
            <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                <a href="/">
                    <img src="assets/images/logo.jpg" alt="" title="" />
                </a>
            </div>
            <!--End Desktop Logo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                <div class="d-block d-lg-none">
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                </div>
                <!--Desktop Menu-->
                <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                    <ul id="siteNav" class="site-nav medium center hidearrow">
                        <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>
                           
                        </li>
                        <li class="lvl1 parent megamenu"><a href="#">Dealers <i class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style4">
                                <ul class="grid grid--uniform mmWrapper">
                                   
                                      <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Dealer Shop List</a>
                                        <ul class="subLinks">
                                            <% if(dealerinfo.length >0 ){ %>
                                               
                                               <% dealerinfo.forEach(function(row){ %>
                                                
                                            <li class="lvl-2"><a href="/product/shopproductlist/<%= row.compname %>/<%= row.compid %>" class="site-nav lvl-2"><span class="btn-warining " style="text-transform: uppercase;"><%= row.compname %></span></a></li>
                                            <% }) %>

                                            <%  }else{}%>
                                        </ul>
                                      </li>
                                    <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                        <a href="#"><img src="/" alt="" title="" /></a>
                                    </li>
                                </ul>
                              </div>
                        </li>
                    <li class="lvl1 parent megamenu"><a href="#">Product <i class="anm anm-angle-down-l"></i></a>
                        <div class="megamenu style2">
                            <ul class="grid mmWrapper">
                                <li class="grid__item one-whole">
                                    <ul class="grid">
                                        <% if(gemcat.length >0 ){ %>
                                               
                                            <% gemcat.forEach(function(row){ %>
                                                <% var gemcatid = row.catid %>
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1"><%= row.catname %> </a>
                                                <ul class="subLinks">
                                                    <% if(gemsubca.length >0 ){ %>
                                               
                                                        <% gemsubca.forEach(function(row){ %>
                                                            <% var subcatid = row.catid %>
                                                             <%if(gemcatid == subcatid) { %>
                                                                <li class="lvl-2"><a href="/product/productlistbycategory/<%= row.subcatname %>/<%= row.subcatid %>" class="site-nav lvl-2"><%= row.subcatname %></a></li>
                                                 
                                                             <%} %>
                                                   <% }) %>

                                                  <%  }else{}%>
                                                </ul>
                                              </li>
                                              <% }) %>

                                              <%  }else{}%>
                                            
                                    </ul>
                                </li>
                                    </ul>
                          </div>
                    </li>
                  
                    <!-- <li class="lvl1 parent dropdown"><a href="/blog">Blog <i class="anm anm-angle-down-l"></i></a>
                   
                    </li> -->
                    <li class="lvl1"><a href="/"><b>Buy Now!</b> <i class="anm anm-angle-down-l"></i></a></li>
                  </ul>
                </nav>
                <!--End Desktop Menu-->
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.jpg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
               
                <div class="site-header__search">
                    <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>